.container {
  margin: 1rem 0;
}

.form {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.search_button {
  border: 1px solid #354250;
  height: 5.5rem;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #354250;
  color: #c3c6c9;
  transition: border 150ms ease;
  cursor: pointer;

  &:hover {
    border: 1px solid #28aaa9;
  }
}

.results_container {
  margin: 1rem 0 5rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.pagenation {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #ececec;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  @keyframes fade-in {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  animation: fade-in 300ms ease;
}
